@using DTOLayer.DTOs.RoleDTOs;
@model RoleGroupDto
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kullanıcı Rolü Güncelleme</h1>

<form method="post">
    <label class="form-group">Rolü Seçiniz </label>
    <br />
    @Html.HiddenFor(x=>x.UserID)
    @Html.HiddenFor(x=>x.UserName)
    <select class="form-control" name="role" id="@Model.Role">
        <option value="Admin">Admin</option>
        <option value="Member">Member</option>
        <option value="User">User</option>
    </select> 
    <br />
    <br />
    <br />
    <button class="btn btn-outline-success">Onayla</button>
</form>
