
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>PDF Rapor Sayfası</h1>

<br />
<a href="/Admin/AdminPDFReport/StaticPDFReport/" class="btn btn-outline-success">Statik PDF Raporu</a>